:root {
    --popsy-animation-duration: 1s;
}

.popsy {
    position: fixed;
    max-width: 300px;
    z-index: 999;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
}

.popsy-active {
    visibility: visible;
    overflow: unset;
    height: auto;
    width: auto;
}

@keyframes popsyFadeIn {
   0% { opacity: 0;}
   100% { opacity: 1;} 
}

@keyframes popsyFadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.popsy-animated {
    -webkit-animation-name: popsyFadeIn;
    animation-name: popsyFadeIn;
    -webkit-animation-duration: var(--popsy-animation-duration);
    animation-duration: var(--popsy-animation-duration);
}

.popsy-animated-fadein {
    animation-name: popsyFadeIn;
}

.popsy-animated-fadeout {
    animation-name: popsyFadeOut;
}