:root {
    --tepsi-animation-duration: 1s;
}

.tepsi {
    position: fixed;
    max-width: 300px;
    z-index: 999;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
}

.tepsi-active {
    visibility: visible;
    overflow: unset;
    height: auto;
    width: auto;
}

.tepsi-dismiss {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@keyframes tepsiFadeIn {
   0% { opacity: 0;}
   100% { opacity: 1;} 
}

@keyframes tepsiFadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.tepsi-animated {
    animation-name: tepsiFadeIn;
    animation-duration: var(--tepsi-animation-duration);
}

.tepsi-animated-fadein {
    animation-name: tepsiFadeIn;
}

.tepsi-animated-fadeout {
    animation-name: tepsiFadeOut;
}